/* Fonts */
$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

/* Colors */

$red: #ff5f50;
$select-color: $red;

/* Dark theme */
$color: #fff;
$muted: desaturate(darken($color, 60%), 90%);
$bg-color: #000;
$border-color: lighten($bg-color, 10%);

/* Light theme */

// $color: #0026af;
// $muted: desaturate(lighten($color, 35%), 90%);
// $bg-color: #e3e0cb;
// $border-color: lighten($muted, 15%);



$border: 1px solid $border-color;

/* Layout */
$header-height: 64px;
$info-control-height: 24px;
$info-control-width: 24px;
