/* Fonts */
$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-mono: "Roboto Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

/* Colors */

$yellow: yellow;
$cyan: #45ffff;
$magenta: #ff3dff;
$green: #0f0;
$dark-blue: #1900c1;


$lime-green: #b2ff59;
$green: #00e676;

$red: #ff5f50;

/* Dark theme */
$color: #ECEEFA;
$muted: #636773;
$bg-color: #222;
$border-color: lighten($bg-color, 10%);

$link-color: $yellow;

$select-color: $bg-color;
$select-bg-color: $yellow;

$caret-color: $yellow;
$preview-color: $color;

/* Layout */
$header-height: 96px;
$info-control-height: 24px;
$info-control-width: 36px;

$gutter: 32px;
